.my-details {
  padding: 0 2em 1em;
  margin: 0 auto;
  max-width: 30em;
}

.my-details {
  padding: 1em 2em;
}

@media (min-width: 70em) {
  .my-details {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .contact-details {
    margin-bottom: 1em;
  }

  .contact-details__email, .contact-details__phone {
    margin-top: 0.5em;
    display: block;
  }
}
