.my-details {
  padding: 0 2em 1.45em;
  margin: 0 auto;
  max-width: 30em;
}

.my-details {
  padding: 1.45rem 2rem 3.1rem;
}

@media (min-width: 70em) {
  .my-details {
    text-align: center;
  }

  .contact-details__email, .contact-details__phone {
    display: block;
  }
}
