.header:before, .header:after {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}

.header {
  padding: 1.2em 2em 1.7rem;
  margin: 0 auto;
  height: 4.35rem;
  max-width: 30em;
}

.header__tools {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__tool {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header__tool + .header__tool {
  margin-left: 1.5rem;
}

.header__tool .header__tool-icon {
  font-size: 2rem;
  line-height: 4.35rem;
}

.header__tool .header__tool-title {
  position: absolute;
  top: 5.8rem;
  line-height: 2.9rem;
  border-radius: 0 1.45rem 1.45rem;
  padding: 0 1.45rem;
  background-color: blue;
  color: white;
}

.header__tool a:hover .header__tool-title {
  display: block;
}

.header__tool-title {
  display: none;
}

@media (min-width: 70em) {
  .header {
    width: 64em;
    max-width: 100%;
  }
}