@media (min-width: 70em) {
  .summary, .tech-and-skills, .experience, .library {
    width: 30em;
  }

  .summary, .tech-and-skills, .library {
    float: left;
    clear: left;
  }

  .experience {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 5rem;
  }
}