.library i {
  color: #bbb;
  font-style: normal;
}

@media (min-width: 70em) {
  section + section {
    margin-top: 0;
  }

  .tech-and-skills__skills {
    padding-top: 1.45rem;
  }

  .experience {
    margin-top: 0;
    margin-right: 4em;
  }

  .summary, .tech-and-skills, .experience, .library {
    width: 30em;
    float: left;
  }
}