h3 Experience

article.experience-item
  h4 Maze
  h5 Senior Platform Engineer
  p: time(datetime='2019-01-01') June 2023 to Present
  p I joined Maze as a Senior AI Engineer to help build a suite of AI-powered customer tooling for the product development team. After a year, I cross-skilled into the Platform team to help build the underlying infrastructure of the Maze platform.

article.experience-item
  h4 SAPI Group
  h5 Principal Engineer
  p: time(datetime='2019-01-01') June 2022 to June 2023
  p I joined SAPI as a Principal Engineer to oversee the creation of a brand new product offering for the company. I was responsible for architecture, technical approach and hiring and training new staff. During my time with the company we grew from a single permenant developer to a large cross-functional team.

article.experience-item
  h4 Curve
  h5 Tech Lead
  p: time(datetime='2019-01-01') Nov 2021 to June 2022
  p I joined Curve as a Tech Lead to manage their Credit Web initiative. During my time at Curve, I had the opportunity to immerse myself in the company and work with Product and the company directors to create a proof-of-concept for a groundbreaking application infrastructure.

article.experience-item
  h4 Deyvce
  h5 Principal Engineer
  p: time(datetime='2019-01-01') June 2020 to Nov 2021
  p Principal Engineer at a disruptive telecoms technology start-up based in London. I was responsible for the development of: the Enterprise and Customer Support web portals, written in TypeScript and React; the iOS and Android apps, written in Swift and Kotlin respectively; and several key backend systems and services written using a variety of languages and cloud technologies. I was a key member of the core team that took the product from the early ideation and product design phase through to a fully-featured, highly-stable and profitable customer offering.

article.experience-item
  h4 Futurice
  h5 Tech Lead
  p: time(datetime='2019-01-01') January 2019 to June 2021
  p Technical Lead for an international digital consultancy based in London and specialising in product design and development. I pride myself on my pragmatic, technology-agnostic approach to software engineering and strive to strike an ideal balance of idiomatic, tried-and-tested best practices and exciting new technologies.
