include helpers

h3 Experience

article.experience-item
  h4
    | Maze
    +tag('Product')
  h5 Senior Platform Engineer
    time(datetime='2023-06-01') Aug 2024 to July 2025
  h5 Senior Full-Stack Engineer
    time(datetime='2023-06-01') June 2023 to Aug 2024
  ul
    li
      +tag('TypeScript')
      +tag('Next.js')
      +tag('Node')
      +tag('AWS')

article.experience-item
  h4
    | SAPI Group
    +tag('Startup')
  h5 Principal Engineer
    time(datetime='2022-06-01') June 2022 to June 2023
  ul
    li
      +tag('TypeScript')
      +tag('React')
      +tag('Node')
      +tag('Postgres')

article.experience-item
  h4
    | Curve
    +tag('Product')
  h5 Tech Lead
    time(datetime='2021-11-01') Nov 2021 to June 2022
  ul
    li
      +tag('TypeScript')
      +tag('React')
      +tag('Next.js')
      +tag('GraphQL')

article.experience-item
  h4
    | Devyce
    +tag('Startup')
  h5 Principal Engineer
    time(datetime='2020-06-01') June 2020 to Nov 2021
  ul
    li
      +tag('React Native')
      +tag('Kotlin')
      +tag('Swift')
      +tag('CosmosDB')

article.experience-item
  h4
    | Futurice
    +tag('Consultancy')
  h5 Tech Lead
    time(datetime='2019-01-01') Jan 2019 to June 2021
  ul
    li
      +tag('TypeScript')
      +tag('Python')
      +tag('Next.js')
      +tag('AWS')

article.experience-item
  h4
    | Antiblanks
    +tag('Agency')
  h5 Development Lead
    time(datetime='2016-09-01') Sept 2016 to Dec 2018
  h5 Senior Engineer
    time(datetime='2016-04-01') April 2016 to Sept 2016
  ul
    li
      +tag('React')
      +tag('Angular')
      +tag('REST')
      +tag('Postgres')

article.experience-item
  h4
    | IP Ventures
    +tag('Startup')
  h5 Chief Technology Officer
    time(datetime='2015-03-01') March 2015 to April 2016
  ul
    li
      +tag('JavaScript')
      +tag('PHP')
      +tag('MySQL')
      +tag('AWS')

article.experience-item
  h4
    | Which? Magazine
    +tag('Product')
  h5 Senior Developer
    time(datetime='2013-04-01') April 2013 to March 2015
  ul
    li
      +tag('Ruby')
      +tag('Rails')
      +tag('Postgres')
      +tag('Heroku')

article.experience-item
  h4
    | Lemon Digits
    +tag('Startup')
  h5 Founder, CTO
    time(datetime='2011-07-01') July 2011 to Aug 2013
  ul
    li
      +tag('JavaScript')
      +tag('PHP')
      +tag('MySQL')
      +tag('AWS')

article.experience-item
  h4
    | Systemagic
    +tag('Agency')
  h5 IT Support Technician
    time(datetime='2009-03-01') March 2009 to July 2011
  ul
    li
      +tag('MSServer')
      +tag('AD')
      +tag('Exchange')
      +tag('MSSQL')

article.experience-item
  h4
    | Wildoak Residential
    +tag('Startup')
  h5 Developer
    time(datetime='2008-09-01') Sept 2008 to March 2009
  ul
    li
      +tag('HTML/CSS')
      +tag('JavaScript')
      +tag('PHP')
      +tag('MySQL')
