h1 Joe Love
h2 Curriculum Vitae

p
  a(href='mailto:jobs@joelove.uk') jobs@joelove.uk
  br
  a(href='tel:+447958648695') +44 7958&nbsp;648695

span.print-label This document was printed from http://cv.joelove.uk
