h1 Joe Love
h2 Curriculum Vitae

p
  a(href='mailto:jobs@joelove.uk') jobs@joelove.uk
  br
  a(href='tel:+447923679803') +44 (0) 7923&nbsp;679&nbsp;803

span.print-label This document was printed from&nbsp;
  script.
    document.write(window.location)
