title Joe Love

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')

style
  include ../../public/style.css

script(src='https://kit.fontawesome.com/86a2272f46.js' crossorigin='anonymous')
script(src='https://use.typekit.net/glh2wye.js')
script.
  try{Typekit.load({ async: true });}catch(e){}
