h1 Joe Love
h2 Curriculum Vitae

p
  a(href='mailto:hire@joelove.dev') hire@joelove.dev
  br
  a(href='tel:+447545499668') +44 7545&nbsp;499668

span.print-label This document was printed from http://joelove.dev
