doctype html

head
  include head

body
  #[i.fa.fa-css3]
  div.body
    header.header
      include header

    main.main
      section.summary
        include summary

      section.technology
        include technology

      section.links
        include links

      section.experience
        include experience
