doctype html

head
  title Joe Love

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  link(rel='stylesheet' property='stylesheet' href='style.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  script(src='https://use.typekit.net/glh2wye.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}

body

  header.header
    h1 Joe Love
    h2 Curriculum Vitae

    p
      a(href='mailto:jobs@joelove.uk') jobs@joelove.uk
      br
      a(href='tel:+447923679803') +44 (0) 7923&nbsp;679&nbsp;803

    span.print-label
      This document was printed from
      script.
        document.write(window.location)

  main.main

    section.summary
      h3 Summary
      div
        p Originally from Bath and now living in London, I've had a passion for programming since I was a young child. Now I spend my days creating beautiful, functional web applications using JavaScript and ES.Next.
        p I've created great web experiences for startups in Bath and London and worked on several enterprise-level applications both as an in-house developer and a specialist contractor. Most recently, I have spent over two years leading a highly talented team of React developers, creating a bespoke account management application for an American investment bank.
        p My goal is to work with a fun, affable and creative team of developers that help each other cultivate exceptional skills and technological knowledge. In my next role, I want to be technically challenged by varying and evolving multidiscipline requirements and share the satisfaction of implementing them skillful and effectively.

    section.technology
      h3 Core Technology
      ul
        li ES.Next (Babel)
        li Ramda, lodash/fp
        li Webpack
        li React
        li Redux, Redux-Saga
        li Reselect
        li Node.js, Express
        li Mocha, Chai, Sinon, Enzyme, Jest
        li Git, Github, GitLab
        li Ruby, Rails, RSpec, Capybara

    section.links
      h3 Further Information
      ul
        li
          i.fa.fa-github-alt
          a(href='https://github.com/joelove/cv' target='_blank') View this site on GitHub
        li
          i.fa.fa-stack-overflow
          a(href='https://careers.stackoverflow.com/joelove' target='_blank') See my StackOverflow Careers profile
        li
          i.fa.fa-linkedin
          a(href='https://www.linkedin.com/in/lovejoe' target='_blank') See my LinkedIn profile
        li
          i.fa.fa-file-pdf-o
          a(href='index.pdf' download) Download this CV as a PDF

    section.experience
      h3 Experience

      article
        h4 Antiblanks
        h5 Development Lead
        p: time(datetime='2016-04-01') April 2016 to Present
        p I currently work as a Technical Team Lead for a development house providing web experiences using React for prominent clients including the largest department store in South America and a Financial Trust with over $10 billion in assets.
      </article>

      article
        h4 Music Glue
        h5 Senior Full-stack Engineer
        p: time(datetime='2015-12-01') January 2016 to April 2016
        p Whilst working with Music Glue I was responsible for creating micro-services inspired APIs written using Node/Express and Ruby/Sinatra. I was also given the opportunity to work with React and Relay.
      </article>

      article
        h4 IP Ventures
        h5 Chief Technical Officer
        p: time(datetime='2015-03-01') March 2015 to January 2016
        p My responsibilities at IP Ventures included creating a development roadmap for the business' primary product, hiring new development and administration staff, working on pitches and presentations to attract venture capital, working with agencies in London and abroad to ensure a high quality of product development.
      </article>

      article
        h4 Which?
        h5 Senior Developer
        p: time(datetime='2013-07-01') August 2013 to March 2015
        p At Which? I was given the opportunity to learn Ruby, developing features for the flagship Reviews product using Rails. This involved utilising Capybara, Cucumber, RSpec and Jasmine to write integration, behaviour and unit tests to drive development.
      </article>

      article
        h4 Lemon Digits
        h5 CTO, Senior Full-stack Developer
        p: time(datetime='2011-07-01') July 2011 to August 2013
        p Co-founder of a small web development agency based in Central London.
