h3 Further Information
ul
  li
    i.fa.fa-github-alt
    a(href='https://github.com/joelove' target='_blank') Find me on GitHub
  li
    i.fa.fa-linkedin
    a(href='https://www.linkedin.com/in/lovejoe' target='_blank') See my LinkedIn profile
  li
    i.fa.fa-file-pdf-o
    a(href='index.pdf' download) Download this CV as a PDF
