h3 About
p After exploring London for over ten years, I now live in Bristol and work in a hybrid remote environment. I spend my days solving problems by creating software and hardware solutions using a wide range of technologies.
p I've worked with companies in the UK, Europe and the US, built several enterprise-level products both as an engineering manager and individual contributor, and ideated, architected and implemented systems and processes as a technical consultant and project lead.
p In my next role I hope to find an ethically-minded company with exciting challenges, continue to cultivate my technological knowledge, and work with an exceptional and welcoming team.
