h3 About
p Originally from Bath and now living in London, I've had a passion for code since I was a kid. Now I spend my days solving problems by creating software and hardware solutions using a wide range of different&nbsp;technologies.
p I've created web experiences for companies in the UK, Europe and the US, built several enterprise-level products both as an in-house developer and specialist contractor, and ideated, architected and implemented systems and processes as a consultant and project&nbsp;lead.
p In my next role, I hope to find greater challenges, continue to cultivate technological knowledge, and work with an exceptional new&nbsp;team.
