h3 About
p 15+ years in software development, architecture, and project management. Full-stack engineer focused on scalable, maintainable systems.
p Worked with companies in the UK, Europe, and the US. Built several enterprise-level products as an engineering manager and individual contributor. As a technical consultant and project lead, ideated, architected, and implemented systems and processes.
p Seeking a role at an ethically minded company with exciting challenges, where I can grow technically and work with an exceptional, welcoming team.
