h3 Summary
div
  p Originally from Bath and now living in London, I've had a passion for programming since I was a little kid. Now I spend my days creating beautiful, functional web applications using JavaScript and ES.Next.
  p I've created great web experiences for startups in Bath and London and worked on several enterprise-level applications both as an in-house developer and a specialist contractor. Most recently, I have spent over two years leading a highly talented team of React developers, creating a bespoke account management application for an American investment bank.
  p My goal is to work with a fun, affable and creative team of developers that help each other cultivate exceptional skills and technological knowledge. In my next role, I want to be technically challenged by varying and evolving multidiscipline requirements and share the satisfaction of implementing them skilfully and effectively.
