//- Ordered list of tag names. Reorder to group similar technologies for similar hues.
- var TAGS_ORDERED = [];
//- Frontend languages
- TAGS_ORDERED.push('HTML/CSS');
- TAGS_ORDERED.push('JavaScript');
- TAGS_ORDERED.push('TypeScript');
- TAGS_ORDERED.push('ES.Next');

//- Frontend frameworks and tooling
- TAGS_ORDERED.push('React');
- TAGS_ORDERED.push('Angular');
- TAGS_ORDERED.push('Next.js');
- TAGS_ORDERED.push('React Native');
- TAGS_ORDERED.push('SWC');
- TAGS_ORDERED.push('ESBuild');
- TAGS_ORDERED.push('TSC');
- TAGS_ORDERED.push('Babel');
- TAGS_ORDERED.push('Webpack');
- TAGS_ORDERED.push('Cypress');
- TAGS_ORDERED.push('Playwright');
- TAGS_ORDERED.push('Jest');
- TAGS_ORDERED.push('Vitest');

//- Backend technologies (languages, frameworks, APIs)
- TAGS_ORDERED.push('Node');
- TAGS_ORDERED.push('NestJS');
- TAGS_ORDERED.push('Express');
- TAGS_ORDERED.push('Koa');
- TAGS_ORDERED.push('Fastify');
- TAGS_ORDERED.push('Rails');
- TAGS_ORDERED.push('PHP');
- TAGS_ORDERED.push('Python');
- TAGS_ORDERED.push('Ruby');
- TAGS_ORDERED.push('RSpec');
- TAGS_ORDERED.push('Capybara');
- TAGS_ORDERED.push('GraphQL');
- TAGS_ORDERED.push('REST');
- TAGS_ORDERED.push('Kotlin');
- TAGS_ORDERED.push('Swift');
- TAGS_ORDERED.push('TensorFlow');
- TAGS_ORDERED.push('OpenCV');

//- ORMs
- TAGS_ORDERED.push('Prisma');
- TAGS_ORDERED.push('Sequelize');
- TAGS_ORDERED.push('Knex');
- TAGS_ORDERED.push('Mongoose');

//- Databases
- TAGS_ORDERED.push('Postgres');
- TAGS_ORDERED.push('MySQL');
- TAGS_ORDERED.push('MongoDB');
- TAGS_ORDERED.push('MSSQL');
- TAGS_ORDERED.push('CosmosDB');

//- Cloud & infrastructure
- TAGS_ORDERED.push('AWS');
- TAGS_ORDERED.push('Azure');
- TAGS_ORDERED.push('EC2');
- TAGS_ORDERED.push('S3');
- TAGS_ORDERED.push('Lambda');
- TAGS_ORDERED.push('SNS');
- TAGS_ORDERED.push('SQS');
- TAGS_ORDERED.push('Docker');
- TAGS_ORDERED.push('Kubernetes');
- TAGS_ORDERED.push('Terraform');
- TAGS_ORDERED.push('Heroku');
- TAGS_ORDERED.push('Active Directory');
- TAGS_ORDERED.push('Windows Server');
- TAGS_ORDERED.push('Exchange');
-
//- Derived mapping from tag name to hue based on order above
- var TAG_HUE_BY_NAME = {};
- var total = TAGS_ORDERED.length;
- for (var i = 0; i < total; i++) {
-   var name = TAGS_ORDERED[i];
-   // Distribute hues evenly around the color wheel
 -   TAG_HUE_BY_NAME[name] = Math.round(((total - 1 - i) / total) * 360);
- }

//- Explicit hues for company-type tags to ensure strong visual distinction
- TAG_HUE_BY_NAME['Startup'] = 90;       // green
- TAG_HUE_BY_NAME['Consultancy'] = 210;  // blue
- TAG_HUE_BY_NAME['Agency'] = 330;       // magenta

