include helpers

h3 Core Technologies
ul
  li
    +tag('TypeScript')
    +tag('React')
    +tag('GraphQL')
  li
    +tag('Node')
    +tag('Next.js')
    +tag('NestJS')
  li
    +tag('Postgres')
    +tag('MongoDB')
    +tag('CosmosDB')
  li
    +tag('Prisma')
    +tag('Sequelize')
    +tag('Mongoose')
  li
    +tag('Terraform')
    +tag('Docker')
    +tag('AWS')
  li
    +tag('Lambda')
    +tag('S3')
    +tag('SNS')
    +tag('SQS')
  li
    +tag('Jest')
    +tag('Playwright')
    +tag('Cypress')
