h3 Core Technologies
ul
  li
    span TypeScript
    span ES.Next
    span React
    span React Native
  li
    span SWC
    span ESBuild
    span TSC
    span Babel
    span Webpack
  li
    span Next.js
    span GraphQL
    span Apollo
    span NestJS
  li
    span Node.js
    span Express
    span Koa
    span Fastify
  li
    span Vitest
    span Jest
    span Playwright
    span Cypress
    span Puppeteer
  li
    span Terraform
    span Docker
    span AWS
    span Azure
  li
    span Postgres
    span MongoDB
    span Mongoose
    span Cosmos
  li
    span Ruby
    span Rails
    span RSpec
    span Capybara
  li
    span Python
    span TensorFlow
    span OpenCV
