include helpers

h3 Core Tech
ul
  li
    +tag('TypeScript')
    +tag('ES.Next')
    +tag('React')
    +tag('Next.js')
  li
    +tag('Node')
    +tag('GraphQL')
    +tag('NestJS')
    +tag('Fastify')
  li
    +tag('Postgres')
    +tag('MongoDB')
    +tag('CosmosDB')
  li
    +tag('Prisma')
    +tag('Sequelize')
    +tag('Mongoose')
  li
    +tag('Terraform')
    +tag('Kubernetes')
    +tag('Docker')
  li
    +tag('Lambda')
    +tag('S3')
    +tag('SNS')
    +tag('SQS')
  li
    +tag('Vitest')
    +tag('Jest')
    +tag('Playwright')
    +tag('Cypress')
  li
    +tag('Ruby')
    +tag('Rails')
    +tag('RSpec')
    +tag('Capybara')
  li
    +tag('Python')
    +tag('TensorFlow')
    +tag('OpenCV')
