h3 Core Technology
ul
  li ES.Next (Babel)
  li Ramda, lodash/fp
  li Webpack
  li React
  li Redux, Redux-Saga
  li Reselect
  li Node.js, Express
  li Mocha, Chai, Sinon, Enzyme, Jest
  li Git, Github, GitLab
  li Ruby, Rails, RSpec, Capybara
