h3 Core Technology
ul
  li ES.Next, Babel
  li Ramda, lodash/fp
  li React, Redux, Redux-Saga, Reselect
  li Node.js, Express
  li Ruby, Rails, RSpec, Capybara
  li Mocha, Chai, Sinon, Jasmine, Enzyme, Jest
  li Webpack, gulp, grunt
  li Git, Github, GitLab
  li SQL, Postgres
