h3 Core Technology
ul
  li ES.Next, Ramda, Babel
  li React, Redux, Redux-Saga, Reselect
  li Webpack, gulp, grunt, Yarn, NPM
  li Node.js, Express, Koa, Axios
  li Mocha, Chai, Sinon, Jasmine, Enzyme, Jest, Selenium
  li Ruby, Rails, RSpec, Capybara
  li Python, TensorFlow, OpenCV, Anaconda, pip
  li Ubuntu, Debian, Raspian, MacOS, Windows
  li Raspberry Pi, NVIDIA Jetson Nano, Arduino
  li Git, Github, GitLab, Gitflow, Agile, Scrum, Kanban
  li SQL, MySQL, MSSQL, Postgres, Apache, NGINX
