h3 Core Technologies
ul
  li
    span TypeScript
    span JavaScript
    span ES.Next
    span Babel
  li  
    span React
    span React Native
    span Redux
    span Webpack
  li
    span Next.js
    span GraphQL
    span Apollo
    span NestJS
  li 
    span Node.js
    span Express
    span Koa
    span Fastify
  li
    span Jest
    span Mocha
    span Chai
    span Sinon
  li
    span Terraform
    span Docker
    span AWS
    span Azure
  li
    span Postgres
    span MongoDB
    span Mongoose
    span Cosmos
  li
    span Ruby
    span Rails
    span RSpec
    span Capybara
  li
    span Python
    span TensorFlow
    span OpenCV
